name: Publish docker image
on:
    push:
      branches: [ "master"]
  
  jobs:
    build:
  
      runs-on: ubuntu-latest
      steps:
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: myorg/myrepository
          tags: latest